<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>附近家润多店</key>
	<array/>
	<key>长沙</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>1</string>
			<key>StoreName</key>
			<string>家润多朝阳店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>雨花区人民中路526号</string>
			<key>longitude</key>
			<string>113.01328</string>
			<key>latitude</key>
			<string>28.1904</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>2</string>
			<key>StoreName</key>
			<string>家润多赤岗店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>雨花区劳动中路200号(近肯德基)</string>
			<key>longitude</key>
			<string>113.008164</string>
			<key>latitude</key>
			<string>28.170964</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>3</string>
			<key>StoreName</key>
			<string>家润多神农店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>黄土岭路306</string>
			<key>longitude</key>
			<string>112.994363</string>
			<key>latitude</key>
			<string>28.165742</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>4</string>
			<key>StoreName</key>
			<string>海航家润多</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>桐梓坡路53号</string>
			<key>longitude</key>
			<string>112.95243</string>
			<key>latitude</key>
			<string>28.224305</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>5</string>
			<key>StoreName</key>
			<string>家润多超市定王台店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>建湘路69号附近</string>
			<key>longitude</key>
			<string>112.991561</string>
			<key>latitude</key>
			<string>28.193545</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>6</string>
			<key>StoreName</key>
			<string>家润多千喜店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>芙蓉区车站北路2号(友谊阿波罗广场斜对面)</string>
			<key>longitude</key>
			<string>113.017701</string>
			<key>latitude</key>
			<string>28.203704</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>7</string>
			<key>StoreName</key>
			<string>家润多南湖路店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>南湖路220号</string>
			<key>longitude</key>
			<string>112.984768</string>
			<key>latitude</key>
			<string>28.171581</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>7</string>
			<key>StoreName</key>
			<string>家润多服装城店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>长沙市</string>
			<key>Address</key>
			<string>蔡锷北路150号</string>
			<key>longitude</key>
			<string>112.988203</string>
			<key>latitude</key>
			<string>28.208887</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
	<key>岳阳</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>8</string>
			<key>StoreName</key>
			<string>家润多朝阳店分店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>岳阳市</string>
			<key>Address</key>
			<string>花板桥路45</string>
			<key>longitude</key>
			<string>113.130318</string>
			<key>latitude</key>
			<string>29.372752</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>9</string>
			<key>StoreName</key>
			<string>家润多岳阳店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>岳阳市</string>
			<key>Address</key>
			<string>迎春南路105号</string>
			<key>longitude</key>
			<string>113.122645</string>
			<key>latitude</key>
			<string>29.150671</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
	<key>湘潭</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>10</string>
			<key>StoreName</key>
			<string>家润多湘潭市</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>湘潭市</string>
			<key>Address</key>
			<string>芙蓉中路38号</string>
			<key>longitude</key>
			<string>112.950576</string>
			<key>latitude</key>
			<string>27.836245</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
	<key>益阳</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>11</string>
			<key>StoreName</key>
			<string>家润多赫山区店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>益阳市</string>
			<key>Address</key>
			<string>赫山区海棠路276</string>
			<key>longitude</key>
			<string>112.361187</string>
			<key>latitude</key>
			<string>28.566401</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>15</string>
			<key>StoreName</key>
			<string>家润多超市</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>益阳市</string>
			<key>Address</key>
			<string>长春路49号</string>
			<key>longitude</key>
			<string>112.338951</string>
			<key>latitude</key>
			<string>28.60169</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
	<key>娄底</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>12</string>
			<key>StoreName</key>
			<string>家润多娄底店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>娄底</string>
			<key>Address</key>
			<string>石马路8号</string>
			<key>longitude</key>
			<string>112.019146</string>
			<key>latitude</key>
			<string>27.73617</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
		<dict>
			<key>StoreID</key>
			<string>13</string>
			<key>StoreName</key>
			<string>家润多超市</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>娄底市</string>
			<key>Address</key>
			<string>湖南省娄底市涟源市</string>
			<key>longitude</key>
			<string>111.68034</string>
			<key>latitude</key>
			<string>27.694429</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
	<key>常德</key>
	<array>
		<dict>
			<key>StoreID</key>
			<string>14</string>
			<key>StoreName</key>
			<string>家润多常德店</string>
			<key>Province</key>
			<string>湖南省</string>
			<key>City</key>
			<string>常德市</string>
			<key>Address</key>
			<string>木板路110号</string>
			<key>longitude</key>
			<string>111.705173</string>
			<key>latitude</key>
			<string>29.036152</string>
			<key>select</key>
			<false/>
			<key>distance</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
